.app-header {
    display: flex;
    min-height: 3.5rem;

    padding: .8rem 1rem;
    
    
    & nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        
        /* font-size: .8em; */
        font-size: 1.1rem;
        letter-spacing: 5px;

        .active {
            color: var(--clr-white);
        }

        .logo {
            /* font-size: 2rem; */
            width: 4rem;

            /* margin-inline-end: 2em; */
        }

        .login-link {
            margin-inline-start: auto;
        }

        & button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}