.form-complete {
    display: flex;
    justify-content: center;

    header{
        display: flex;
        height: 4rem;
    }

    .story-generate {

        button{
            height: 2rem;
        }
    }
}
    