.form-complete {
    display: flex;

    .story-generate{
        /* background-color: pink; */
        width: 50%;
        pre{
            height: 15rem;
            font-size: 1rem;
            align-content: center;
            justify-self: center;
            font-weight: bold;
        }
        
    }

    .image-prompts{
        /* background-color: blue; */
        width: 50%;
        article{
            height: 15rem;
        }
    }
}