.loader-container{
  place-self: center;
}

.loader {
  border: 6px solid rgb(180, 173, 173);
  border-top: 6px solid rgb(71, 68, 68);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  place-self: center;
  margin: 5em 0;
  place-self: center;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}