.login-form,
.signup-form {
	display: grid;
	width: min(80%, 300px);
	margin: auto;
	border-radius: .5rem;

	padding: 1em;
	background-color: var(--clr4);

	p{
		font-size: .8rem;

		a{
			margin: 0 .5rem;
		}
	}
}

.signup-form {
	>input {
		width: 100%;
		margin: 0.4em 0;
		border-radius: .5rem;
		line-height: 1.5rem;
	}

	.admin-toggle {
		display: flex;
		align-items: center;
		justify-self: start;

		>span {
			font-size: .8em;
		}
	}
}

.login-page nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	margin-block: 100px 0.5em;


	> a {
		font-size: 0.8em;
		color: var(--clr4);

		&:hover {
			color: var(--clr1);
		}

		&.active {
			text-decoration: underline;
			color: var(--clr2);
		}
	}
}