
button {
	padding: .5em .8em;
	border: 0;
	margin: .5em;
	cursor: pointer;
	background-color: var(--clr4);
	border-radius: 1rem;
	color: var(--clr-white);
	font-family: 'karantina-light';
	font-size: 1.2rem;
	letter-spacing: 3px;
}

button:hover {
	transition: 0.3s;
	background-color: var(--clr1-light);
}
