@font-face {
    font-family: 'karantina-light';
    src: url('../../fonts/Karantina-Light.ttf');
}
@font-face {
    font-family: 'karantina-regular';
    src: url('../../fonts/Karantina-Regular.ttf');
}
@font-face {
    font-family: 'karantina-bold';
    src: url('../../fonts/Karantina-Bold.ttf');
}