:root {
  --clr1: #713A3A;
  --clr2: #B1573F;
  --clr3: #963F28;
  --clr4: #D4903C;
  --clr5: #AE7A48;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);
  --clr-white: #fff;

  --gray1: #ddd;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);
}