
@import "setup/var";
@import "setup/typography";

@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/forms";

@import "RootCmp";

@import "cmps/AboutUs";
@import "cmps/HomePage";
@import "cmps/UserDetails";
@import "cmps/LoginSignup";
@import "cmps/Chat";
@import "cmps/Logo";
@import "cmps/Swiper";
@import "cmps/Loader";

@import "cmps/AppHeader";
@import "cmps/AppFooter";
@import "cmps/UserMsg";

@import "cmps/sip/FormComplete";
@import "cmps/sip/Form";
@import "cmps/sip/SipIndex";
@import "cmps/sip/SipList";
@import "cmps/sip/SipPreview";
@import "cmps/sip/SipFilter";
@import "cmps/sip/CardPreview";

@import "cmps/review/ReviewEdit";
@import "cmps/review/ReviewList";
@import "cmps/review/ReviewPreview";